body{
  /* By default, the body has margins. We want to reset these so our elements can span the entire width of the page. */
  margin:0;
  font-family: 'Raleway', sans-serif;
  background-color: #EDF2F4;
}
#header{
  background-color: #2B2D42;
  border-bottom:1px solid rgba(50,50,50,0.5);
  padding:15px 100px;
  overflow:auto;
  margin-bottom:50px;
  height:35px;
}
#header .logo{
  width:50%;
  height:100%;
  float:left;
  display:inline-block;
}
#header .logo img{
  height:100%;
}
#header .nav{
  float:right;
  width:50%;
  text-align:right;
  display:inline-block;
  line-height:35px;
}
#header .nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
#header .nav li{
  display:inline-block;
}
#header .nav li a{
  text-decoration:none;
  color:#8D99AE;
  margin:0px 10px;
}
#sidebar{
  float: left;
}
#products{
  margin:auto 100px;
  padding:25px; 
}
.product {
  overflow: auto;
  margin: 25px 0px;
}
.product img{
  display: inline-block;
  margin-right: auto;
  max-width: 400px;
}
.button{
  display: inline-block;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #EF233C;
  color: white;
  font-family: sans-serif;
}
#productinfo{
  position: relative;
  left: 415px;
  bottom: 400px;
}
footer{
  margin: 0;
  width: 100%;
  padding: 10px 100px;
  background-color: #8D99AE;
}